<% if logged_in? %>
<!--ログインしているとき-->
  <div class="row">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-heading text-center">
              <div class="panel-title">
                <p><%= post.title %></p>
              </div>
            </div>
            <div class="panel-body thumbnail-body">
              <% if post.photo? %>
                <div class="thumbnail">
                  <%= image_tag post.photo %>
                  <p class="ribbon"><%= post.price %>円</p>
                </div>
              <% end %>
            </div>
            <div class="panel-footer">
              <img src="<%= gravatar_url(post.user, size:30) %>" class="img-circle">
              <span class="user-name"><%= post.user.name %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <%= paginate @posts %>
    
  </div>
<% else %> 
<!--ログインしていないとき-->
<div class="text-center">
  <div class="header-image">
    <img src="/images/foods.png">
    <%= link_to "始める", signup_path, class: "btn btn-lg btn-warning header-image-btn" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-4">
    
  </div>
</div>
  
<% end %>
