<% if logged_in? %>
<!--ログインしているとき-->
  <div class="row">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="panel panel-default panel-content">
            <div class="panel-heading text-center">
              <div class="panel-title">
                <p><%= post.title %></p>
              </div>
            </div>
            <div class="panel-body thumbnail-body">
              <% if post.photo? %>
                <div class="thumbnail">
                  <%= image_tag post.photo %>
                  <p class="ribbon"><%= post.price %>円</p>
                </div>
              <% end %>
            </div>
            <div class="panel-footer">
              <img src="<%= gravatar_url(post.user, size:30) %>" class="img-circle">
              <span class="user-name"><%= post.user.name %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <%= paginate @posts %>
  </div>
<% else %> 
<!--ログインしていないとき-->
  <% content_for :cover do %>
    <div>
      <div class="top-image">
        <img src="/images/foods.png" width="100%">
        <%= link_to "始める", signup_path, class: "btn btn-lg btn-warning top-image-btn" %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-extend text-center">
          <h3>簡単シェア</h3>
          <img src="/images/icon_121690_256.png">
          <p>写真を撮って特徴を入力</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-extend text-center">
          <h3>近くで探す</h3>
          <img src="/images/icon_158260_256.png">
          <p>位置情報を取得し、余った食材を周辺で探す</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-extend text-center">
          <h3>取りに行く</h3>
          <img src="/images/icon_142920_256.png">
          <p>取引が成立したら取りに行こう</p>
        </div>
      </div>
  </div>

  <div class="row news">
    <!--パソコン表示-->
    <div class="md-display">
      <div class="col-md-4 los-image">
        <img src="/images/trash-313711_640.jpg" width="90%">
      </div>
      <div class="col-md-8">
        <div class="infomation">
          <h2 class="text-center">食をもっとフラットに</h2>
          <p>日本における「食品ロス」は約642万トン。<br>その内約半数が家庭から出ており、毎日お茶碗一杯分の食材が捨てられていると言われています。<br>無駄な食品ロスを減らすべく、個人や、飲食店、企業が、余剰食品を気軽にシェアするプラットフォームがここにあります。</p>
        </div>
      </div>
    </div>
    <!--スマホ表示-->
    <div class="xs-display text-center">
      <div class="flat">
        <h2>食をもっとフラットに</h2>
        <img src="/images/trash-313711_640.jpg">
        <p class="text-left">日本における「食品ロス」は約642万トン。<br>その内約半数が家庭から出ており、毎日お茶碗一杯分の食材が捨てられていると言われています。<br><br>無駄な食品ロスを減らすべく、個人や、飲食店、企業が、余剰食品を気軽にシェアするプラットフォームがここにあります。</p>
      </div>
    </div>
  </div>
  
  <div class="row onayami">
    <h2>こんなお悩みないですか？</h2>
    <!--<パソコン表示>-->
    <div class="md-display">
      <!--飲食店の方-->
      <div class="col-md-6 col-xs-12">
         <img src="images/takeout1.png">
      </div>
      <div class="col-md-6 col-xs-12">
        <img src="/images/takeout.png">
      </div>
      <!--個人の方-->
      <div class="col-md-6 col-xs-12">
        <img src="/images/party.png">
      </div>
      <div class="col-md-6 col-xs-12">
        <img src="/images/party1.png">
      </div>
      <!--スーパーなど-->
      <div class="col-md-6 col-xs-12">
        <img src="/images/supermarket1.png">
      </div>
      <div class="col-md-6 col-xs-12">
        <img src="/images/supermarket.png">
      </div>
    </div>
    <!--スマホ表示-->
    <div class="xs-display">
      <!--飲食店の方-->
      <div class="col-md-6 col-xs-12">
        <img src="/images/takeout.png">
      </div>
      <div class="col-md-6 col-xs-12 border">
         <img src="images/takeout1.png">
      </div>
      <!--個人の方-->
      <div class="col-md-6 col-xs-12">
        <img src="/images/party.png">
      </div>
      <div class="col-md-6 col-xs-12 border">
        <img src="/images/party1.png">
      </div>
      <!--スーパーなど-->
      <div class="col-md-6 col-xs-12">
        <img src="/images/supermarket.png">
      </div>
      <div class="col-md-6 col-xs-12 border">
        <img src="/images/supermarket1.png">
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center signup-field">
      <h3>あなたの<span class="red-text">「もったいない」</span>を<br><span class="green-text">「ありがとう」</span class="green-text">に変えてみませんか？</h3>
      <div><img src="/images/figure_ningenkankei_simple.png"></div>
        <%= link_to "新規登録", signup_path,class:"btn btn-warning" %>
    </div>
  </div>
  <% content_for :footer do %>
    <footer class="footer-field">
        <div class="icon-field">
         <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
         <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
         <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </div>
        <!--<p class="p">© 2018 Foody.</p>-->
    </footer>
  <% end %>

<% end %>
