<div class="text-center">
  <h1>内容を入力</h1>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
    <%= form_for(@post) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <% if @post.photo? %>
          <div class="thumbnail">
            <%= image_tag @post.photo.url %>
          </div>
        <% end %><br>
        
        <%= f.label :photo, "写真" %>
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
      </div>
      <div class="field">
        <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
        <% if @post.persisted? && @post.photo? %>
          <label>
            <%= f.check_box :remove_photo %>
            写真を削除
          </label>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control",placeholder: "食品名を入力" %> 
      </div>
      
      <div class="form-group">
        <%= f.label :description, "説明" %>
        <%= f.text_area :description, rows:"4", class: "form-control", placeholder: "日付、賞味期限など" %> 
      </div>
      
      <div class="form-group">
        <%= f.label :price, "価格" %>
        <%= f.number_field :price %> 
      </div>
      
      <%= f.submit "更新",class: "btn btn-primary btn-block" %>
      
    <% end %>
  </div>
</div>